* {
    font-family: 'Roboto';
    margin: 0;
}

header, .hero, footer {
    background-color: #1F2937;
    
}

.header {
    font-size: 24px;
    color: #F9FaF8;
}

li, .hero-secondary {
    font-size: 18px;
    color: #E5E7Eb;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;
}

button {
    background-color: #3882F6;
    color: #E5E7Eb;
    border-radius: 5px;
    border: 2px solid #3882F6;
}

.action-button {
    border: 2px solid #E5E7Eb;
}

.information-section {
    color: #1f2937;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
}

.quote-section {
    background-color: #E5E7Eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote-name {
    color: #1f2937;
}

.call-action {
    background-color: #3882F6;
    color: #E5E7Eb;
}

footer {
    color: #E5E7Eb;
}